body{
    color:white;
    

}
.navbar{
    color:black;
    position:sticky;
    top:0;
    z-index:99;
    background:rgb(10,23,234);
}
.navbar-nav>li {
    
    display: inline-block;
    height: 50px;
    width: 50px;
    float:right;
}
.academics{
    font-family: 'Indie Flower', cursive;
}
.achieve{
    font-family: 'Indie Flower', cursive;
}
.bold{
    font-family: 'Abril Fatface', cursive;
}
.skills{
    font-family: 'Indie Flower', cursive;
}
.box{
    
    background:black;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;

}
.boxeven{
    
    background:rgb(10,23,234);
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
}
.boxodd{
    background-image:url("black.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.img{
    width:35%;
    height:auto;
    margin:auto;
    border:3px solid rgb(10,23,234);
}
.acad{
    max-width: 50%;
    height:auto;
}
.int{
    opacity:0.5;
}
.int:hover{
    opacity:1;
}
@media screen and (max-width: 576px){
    .img{
        width:100%;
        height:auto;
        margin-top:1%;
        margin-bottom:1%;
    }
    .hide{
        display:none;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px){
    .img{
        width:100%;
        height:auto;
        margin-top:1%;
        margin-bottom:1%;
    }
    .hide{
        display:none;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .img{
        width:50%;
        height:auto;
        margin-top:1%;
        margin-bottom:1%;
    }
    .hide{
        display:none;
    }
}
@media screen and (min-width: 992px) and (max-width: 1500px){
    .img{
        width:50%;
        height:auto;
        margin-top:1%;
        margin-bottom:1%;
    }
}
@media screen and (min-width: 1500px){
    .img{
        width:50%;
        height:auto;
        margin-top:1%;
        margin-bottom:1%;
    }
}
