body{
    color:white;
    
}
.box{
    
    background:black;
    background-attachment: fixed;
}
.boxeven{
    
    background:rgb(10,23,234);
    background-attachment: fixed;
}
.boxodd{
    background:rgb(0,0,0);
    background-attachment: fixed;
}
.img{
    width:35%;
    height:auto;
    margin:auto;
    border:3px solid rgb(10,23,234);
}
.acad{
    max-width: 50%;
    height:auto;
}
.int{
    opacity:0.5;
}
.int:hover{
    opacity:1;
}
@media screen and (max-width: 576px){
    .img{
        width:100%;
        height:auto;
        margin-top:1%;
        margin-bottom:1%;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px){
    .img{
        width:100%;
        height:auto;
        margin-top:1%;
        margin-bottom:1%;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .img{
        width:50%;
        height:auto;
        margin-top:1%;
        margin-bottom:1%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1500px){
    .img{
        width:50%;
        height:auto;
        margin-top:1%;
        margin-bottom:1%;
    }
}
@media screen and (min-width: 1500px){
    .img{
        width:50%;
        height:auto;
        margin-top:1%;
        margin-bottom:1%;
    }
}
